* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'erasBOLD';
    src: url('../fonts/eras-itc-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'erasMID';
    src: url('../fonts/ITCErasStd-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'erasDEMI';
    src: url("../fonts/ITCErasStd-Demi.ttf") format('truetype');
}

span {
    color: #076633;
}

.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

/**********Animations**********/

@keyframes reveal {
    from {
        opacity: 0;
        transform: scale(0.69);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
    
}

/**********************Header*************************/

header {
    background-color: #141414;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    margin: 2% 8% 2% 8%;
    width: 32%;
}

.logo img{
    width: 100%;
    transition: 0.5s ease-in-out;
}

.logo img:hover{
    transform: scale(0.92);
}

nav{
    width: 30%;
    margin: 2% 6% 2% 6%;
}

nav li::after {
    content: '';
    display: inline-block;
    width: 80%;
    height: 2px;
    background: #076633;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#headerProject::after{
    width: 100%;
}

nav li:hover::after {
    transform: scale(1);
    margin-left: 14%;
}

#headerProject:hover::after{
    margin-left: 6%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 2%;
}

nav li{
    font-family: 'erasBOLD';
    width: 100%;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: all, 0.5s;
}

nav a:hover{
    color: #076633;
    margin-left: 12%;
}

/**********************Main Index*************************/

#topIndex{
    background-image: url('../img/code.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    color: white;
}

#topTitleIndex{
    background-color: rgba(0, 0, 0, 0.86);
    height: 100%;
}

#topIndex h1, #topIndex h2, #topIndex p, #btnCVtop{
    filter: brightness(1.69);
    animation: reveal linear 2s;
}

#topIndex h1{
    font-family: 'erasBOLD';
    font-size: 3.2em;
    padding: 16% 0 0 6%;
}

#topIndex h2{
    font-family: 'erasBOLD';
    font-size: 4em;
    padding: 0 0 2% 6%;
}

#topIndex p{
    font-family: 'erasDEMI';
    font-size: 2.2em;
    padding: 0 0 2% 6%;
}

#nbAnnee p{
    font-size: 1.4em;
}

#nbAnnee span{
    font-size: 2em;
}

#btnCVtop{
    margin: 6% 0 0 11%;
}

#btnCVtop a{
    font-family: 'erasBOLD';
    font-size: 1.2em;
    border: none;
    padding: 1% 1.6%;
    background-color: #076633;
    transition: 0.5s ease-in-out;
    border-radius: 16px;
    width: 4%;
    color: white;
    text-decoration: none;
}

#btnCVtop a:hover{
    background-color: #0d9b4f;
    margin-left: 1%;
}

/****************Défilement infini de logos*******************/

#logoSlider{
    overflow: hidden;
    background: #141414;
    white-space: nowrap;
    padding: 1.2% 0;
    position: relative;
}

#logoSlider:before, #logoSlider:after{
    position: absolute;
    top: 0;
    width: 500px;
    height: 100%;
    content: '';
    z-index: 2;
}

#logoSlider:before{
    left: 0;
    background: linear-gradient(to right, #141414, transparent);
}

#logoSlider:after{
    right: 0;
    background: linear-gradient(to left, #141414, transparent);
}

#logo-slide{
    animation: 10s slide infinite linear;
    display: inline-block;
}

#logo-slide img{
    height: 69px;
    margin: 0 36px;
}