* {
    margin: 0;
    padding: 0;
}

/*Fonts*/

@font-face {
    font-family: 'erasBOLD';
    src: url('../fonts/eras-itc-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'erasMID';
    src: url('../fonts/ITCErasStd-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'erasDEMI';
    src: url("../fonts/ITCErasStd-Demi.ttf") format('truetype');
}

/*Couleurs*/

:root {
    --color-bg: #101014;
    --color-text: #fff;
    --color-primary: #0d9b4f;
    --color-secondary: #076633;
}

/*H2*/

h2 {
    font-family: 'erasBOLD';
    font-size: 2.8em;
    padding: 9% 0 4% 0;
}

/*span*/

span {
    color: var(--color-primary);
}

/*c'est trop le flex*/

.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Leu filter card de merde la */

.filterCard {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 24px;
    /* S'assurer qu’il suit l’image */
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: 100;
}

/**********Animations**********/

@keyframes reveal {
    from {
        opacity: 0;
        transform: scale(0.69);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

/*Main*/

main {
    background-color: var(--color-bg);
    color: var(--color-text);
}

/**********************Header*************************/

header {
    background-color: rgba(0, 0, 0, 0.69);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    margin: 2% 8% 2% 8%;
    width: 32%;
}

.logo img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.logo img:hover {
    transform: scale(0.92);
}

nav {
    width: 30%;
    margin: 2% 6% 2% 6%;
}

nav li::after {
    content: '';
    display: inline-block;
    width: 80%;
    height: 2px;
    background: #076633;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#headerProject::after {
    width: 100%;
}

nav li:hover::after {
    transform: scale(1);
    margin-left: 14%;
}

#headerProject:hover::after {
    margin-left: 6%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 2%;
}

nav li {
    font-family: 'erasBOLD';
    width: 100%;
    text-align: center;
}

nav a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.2em;
    transition: all, 0.5s;
}

nav a:hover {
    color: var(--color-primary);
    margin-left: 12%;
}

/**********************FOOTER*************************/

footer {
    background-color: var(--color-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
    color: var(--color-text);
}

footer h3 {
    font-family: 'erasDEMI';
    font-size: 1.2em;
    color: var(--color-primary);
}

footer p {
    font-family: 'erasMID';
    font-size: 1em;
}

/**********************Main Index*************************/

#topIndex {
    background-image: url('../img/code.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    color: var(--color-text);
}

#topTitleIndex {
    background-color: rgba(0, 0, 0, 0.86);
    height: 100%;
}

#topIndex h1,
#topIndex h2,
#topIndex p,
#btnCVtop {
    animation: reveal linear 2s;
}

#topIndex h1 {
    font-family: 'erasBOLD';
    font-size: 3.2em;
    padding: 16% 0 0 6%;
}

#topIndex h2 {
    font-family: 'erasBOLD';
    font-size: 4em;
    padding: 0 0 2% 6%;
}

#topIndex p {
    font-family: 'erasDEMI';
    font-size: 2.2em;
    padding: 0 0 2% 6%;
}

#nbAnnee p {
    font-size: 1.4em;
}

#nbAnnee span {
    font-size: 2em;
}

#btnCVtop {
    margin: 6% 0 0 11%;
}

#btnCVtop a {
    font-family: 'erasBOLD';
    font-size: 1.2em;
    border: none;
    padding: 1% 1.6%;
    background-color: var(--color-primary);
    transition: 0.5s ease-in-out;
    border-radius: 16px;
    width: 4%;
    color: var(--color-text);
    text-decoration: none;
}

#btnCVtop a:hover {
    background-color: var(--color-secondary);
    margin-left: 1%;
}

/*******Défilement infini de logos**********/

#logoSlider {
    overflow: hidden;
    background: #1b1b1bbb;
    white-space: nowrap;
    padding: 1.2% 0;
    position: relative;
}

#logoSlider:before,
#logoSlider:after {
    position: absolute;
    top: 0;
    width: 500px;
    height: 100%;
    content: '';
    z-index: 2;
}

#logoSlider:before {
    left: 0;
    background: linear-gradient(to right, #1b1b1b, transparent);
}

#logoSlider:after {
    right: 0;
    background: linear-gradient(to left, #1b1b1b, transparent);
}

#logo-slide {
    animation: 30s slide infinite linear;
    display: inline-block;
}

#logo-slide img {
    height: 69px;
    margin: 0 36px;
}

/*********Pres du dernier projet**********/

#presProjetIndex {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#presProjetIndex h2 {
    margin-left: -87%;
}

#presProjetIndex div:nth-child(1) {
    width: 69%;
    flex-direction: column;
    align-items: center;
}

#presProjetIndex img {
    display: block;
    /* Élimine les marges internes */
    width: 100%;
    /* S’adapte au parent */
    height: auto;
    /* Conserve le ratio */
    border-radius: 24px;
    transition: 0.5s ease-in-out;
}

#imgProjetIndex {
    transition: all, 0.5s ease-in-out;
    position: relative;
    /* Assure que les enfants absolus prennent sa taille */
    display: inline-block;
    /* Empêche qu’il prenne toute la largeur du parent */
    width: 100%;
    max-width: 1200px;
    /* Taille max pour s’adapter */
    overflow: hidden;
    border-radius: 24px;
}

#imgProjetIndex:hover img {
    transform: scale(1.02);
}

#imgProjetIndex:hover .filterCard {
    opacity: 0.82;
    transform: scale(1.02);
}

#imgProjetIndex:hover .hoverProjet {
    visibility: visible;
    opacity: 1;
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

.hoverProjet {
    padding-top: 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    /* Plus haut que .f ilterCard */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

dotlottie-player {
    position: absolute;
    top: 0;
    right: 0;
}

.hoverProjet h3 {
    font-family: 'erasBOLD';
    font-size: 2.2em;
    padding: 0 0 3% 0;
}

.hoverProjet p {
    font-family: 'erasMID';
    font-size: 1.2em;
    padding: 2% 0 2% 0;
    width: 69%;
    text-align: center;
}

.hoverProjet a {
    font-family: 'erasBOLD';
    font-size: 1.2em;
    border: none;
    padding: 1% 1.6%;
    background-color: var(--color-primary);
    transition: 0.5s ease-in-out;
    border-radius: 16px;
    text-decoration: none;
    color: var(--color-text);
}

.hoverProjet a:hover {
    background-color: var(--color-secondary);
    margin-left: 2%;
}

/*************compétences principales Index***************/

#compIndex {
    width: 100%;
}

#compIndex h2 {
    padding-left: 8%;
}

#compIndexCard {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 11% 0 11%;
    justify-content: center;
}

.compIndexCard {
    width: 420px;
    margin: 2% 1% 2% 1%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.69);
    /*A ENLEVER*/
    transition: 0.5s ease-in-out;
}

.compIndexCardImg {
    position: relative;
}

.compIndexCardImg img {
    width: 100%;
    height: 280px;
    border-radius: 16px;
    
    object-fit: cover;
    object-position: 0 14%;
}

.compIndexCard:hover .filterCard {
    opacity: 0.82;
}

.compIndexCard:hover {
    transform: scale(1.04);
}

.compIndexCard .filterCard{
    border-radius: 16px;
}

.textCompCard {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    width: 80%;
    height: 100%;
    text-align: center;
    margin-left: 9%;
    padding-top: 26%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 110;
}

.compIndexCard h3 {
    color: var(--color-primary);
    font-family: 'erasBOLD';
    justify-content: center;
    display: flex;
    margin: 0 0 4% 0;
    filter: brightness(1.4);
}

.compIndexCard p {
    font-family: 'erasMID';
    justify-content: center;
    display: flex;
}

.compIndexCard:hover .textCompCard {
    visibility: visible;
    opacity: 1;
}